
   
 .center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
 
}



  img {
    width : 40vw;
    height : 40vh;
    max-width : 600px;
    max-height : 300p
  }
  
p {
  text-align: center;
}