
 /* accueil */
 .center
 {
 position: absolute;
 left: 50%;
 transform: translatex(-50%);
 }


img
  {
    width : 40vw;
    height : 40vh;
    max-width : 600px;
    max-height : 300p
  }
  
  .imageHotel
  {
    width : 50vw;
    height : 35vh;
    max-width : 800px;
    max-height : 700p
  }

.flex-container
 {
   display: flex;
 }

.carousel-control 
 {
 right : 10%;
 background-color: #8c8c8c;
 }

 /* menu */
body.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: "Goudy Bookletter 1911", serif;
}

.menu {
   text-align: center;
}

.menu-title {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 20px;
}

.menu-section-title {
   font-size: 26px;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 10px;
}

.menu-item {
   font-size: 20px;
   margin-bottom: 5px;
   text-align: left;
}
ul.menu-items {
list-style-type: none;
}
li.menu-item:before {
content: '* ';
}

