
   
 .center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
 
}



  img {
    width : 40vw;
    height : 40vh;
    max-width : 600px;
    max-height : 300p
  }
  
  .button
  {
    height:200px;
    width: 240px;
    align-items: center; 
    background-color: #8c8c8c;
    
  }

  .flex-container {
    display: flex;
  }

.carousel-control {right : 10%;
  background-color: #8c8c8c;}

