{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Les avis</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for avi in avis %}
                    <tr>
                        <td>{{ avi.note }}</td>
                        <td class="text-truncate">{{ avi.commentaire }}</td>
                        <td class="text-truncate">{{ avi.date|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
