{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <div class="container">
    <center>
        <h1 class="mt-4">Les avis</h1>
        </center>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        {% for avi in avis %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="rating">
                                        {% for i in 1..5 %}
                                            {% if i <= avi.note %}
                                                <i>★</i> <!-- Icône étoile pleine -->
                                            {% else %}
                                                <i>☆</i> <!-- Icône étoile vide -->
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <span class="date">{{ avi.date|date('Y-m-d') }}</span>
                                </div>
                                <div class="card-body">
                                    <p class="comment">{{ avi.commentaire }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
