<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
    body.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: "Goudy Bookletter 1911", serif;
}

.menu {
   text-align: center;
}

.menu-title {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 20px;
}

.menu-section-title {
   font-size: 26px;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 10px;
}

.menu-item {
   font-size: 20px;
   margin-bottom: 5px;
   text-align: left;
}
ul.menu-items {
list-style-type: none;
}
li.menu-item:before {
content: '* ';
}
</style>
</head>
<body>
    <div class="menu">
            {% if imageMenu.image %}
                <img src="{{ asset('images/menu_directory/' ~ imageMenu.image) }}" alt="Dernière image" class="menu-image">
            {% endif %}
        <h1 class="menu-title">Menu du jour</h1>
        <p>Menu (entrée + plat + dessert): 20.00 €</p>
        <p>Formule (entrée + plat ou plat + dessert): 17.00 €</p>

        <div class="menu-section">
            <h2 class="menu-section-title">ENTREE :</h2>
            <ul class="menu-items">
                {% for entree in menu.entrees %}
                    <li class="menu-item">{{ entree.nom }}</li>
                {% else %}
                    <li class="menu-item">Aucune entrée disponible pour le moment.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="menu-section">
            <h2 class="menu-section-title">PLAT :</h2>
            <ul class="menu-items">
                {% for plat in menu.plats %}
                    <li class="menu-item">{{ plat.nom }}</li>
                {% else %}
                    <li class="menu-item">Aucun plat disponible pour le moment.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="menu-section">
            <h2 class="menu-section-title">DESSERT :</h2>
            <ul class="menu-items">
                {% for dessert in menu.desserts %}
                    <li class="menu-item">{{ dessert.nom }}</li>
                {% else %}
                    <li class="menu-item">Aucun dessert disponible pour le moment.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
